{% extends 'base.html' %}
{% block body %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container mt-5">
    <div class="row ">
        <div class="col-2">
             Movie Name:
        </div>
        <div class="col-4">
            <input type="text" class="form-control" name="name" placeholder="Enter the name">
        </div>
    </div>
        <div class="row my-4">
        <div class="col-2">
             <label>Description:</label>
        </div>
        <div class="col-4">
            <textarea class="form-control" rows="3" name="desc" placeholder="Enter the description"></textarea>
        </div>
        </div>
        <div class="row my-4 ">
        <div class="col-2">
             <label>Year:</label>

        </div>
        <div class="col-4">
            <input type="text" class="form-control" name="year" placeholder="Enter the year">
        </div>
        </div>
        <div class="row my-4">
        <div class="col-2">
             <label>Image:</label>
        </div>
        <div class="col-4">
            <input type="file" class="form-control-file" name="img" >
        </div>
        </div>
        <div class="row my-4">
            <div class="col-2"></div>
            <div class="col-4">
            <input type="submit" class="btn btn-primary">
        </div>
    </div>

    </div>
</form>
{% endblock %}
